
AlphabetSoupCharity_starter_code.ipynb
.ipynb_checkpoints/AlphabetSoupCharity_starter_code-checkpoint.ipynb
AlphabetSoupCharity2.ipynb
.ipynb_checkpoints/AlphabetSoupCharity2-checkpoint.ipynb
AlphabetSoupCharity_Optimization.h5
AlphabetSoupCharity_Optimization.h5
AlphabetSoupCharity_Optimization.h5
AlphabetSoupCharity_Optimization.h5
AlphabetSoupCharity_Optimization.h5
